.project-page {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .basic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 200%;
  }

  .header-btn {
    width: 240px;
  }

  p {
    margin-bottom: 8px;
  }

}