@import '~antd/dist/antd.css';


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  text-align: center;
}

.fa-chevron-circle-right {
  font-size: 32px;
}
